<form action="/signin" method="post">
    <label>Email</label>
    <input type="text" name="email"/>
    <label>Password</label>
    <input type="text" name="Password"/>
    <button type="submit">Sign In</button>
</form>